<app-breadcrumb [items]="[{ text: 'Lançamentos', link: '/entries' }, { text: pageTitle }]"></app-breadcrumb>

<app-page-header [pageTitle]="pageTitle" buttonClass="btn-light" buttonLink="/entries" buttonText="<< Voltar"></app-page-header>

<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre o lançamento</div>

    <div class="card-body">
      <div class="form-row">
        <!-- TYPE -->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select name="type" id="type" formControlName="type" class="form-control">
            <option *ngFor="let option of typeOptions" [value]="option.value">{{ option.text }}</option>
          </select>

          <div class="text-danger" *ngIf="resourceForm.get('type').invalid && resourceForm.get('type').touched">
            <div *ngIf="resourceForm.get('type').errors.required">Dado obrigatório</div>
          </div>
        </div>

        <!-- NAME -->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input type="text" class="form-control" id="name" formControlName="name" />

          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">Dado obrigatório</div>
            <div *ngIf="resourceForm.get('name').errors.minlength">Deve ter no mínimo 2 caracteres</div>
          </div>
        </div>

        <!-- AMOUNT -->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>

            <input type="text" class="form-control text-right" id="amount" formControlName="amount" [imask]="imaskConfig" />
          </div>

          <div class="text-danger" *ngIf="resourceForm.get('amount').invalid && resourceForm.get('amount').touched">
            <div *ngIf="resourceForm.get('amount').errors.required">Dado obrigatório</div>
            <div *ngIf="resourceForm.get('amount').errors.minlength">Deve ter no mínimo 2 caracteres</div>
          </div>
        </div>

        <!-- DATE -->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar
            id="date"
            formControlName="date"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true"
          >
          </p-calendar>

          <div class="text-danger" *ngIf="resourceForm.get('date').invalid && resourceForm.get('date').touched">
            <div *ngIf="resourceForm.get('date').errors.required">Dado obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- PAID -->
        <div class="form-group col-md-2">
          <label for="paid">Pago</label>
          <div class="btn-group">
            <label
              class="btn btn-outline-info"
              [class.active]="resourceForm.get('paid').value === true"
              (click)="resourceForm.get('paid').setValue(true)"
              >Pago</label
            >
            <label
              class="btn btn-outline-info"
              [class.active]="resourceForm.get('paid').value === false"
              (click)="resourceForm.get('paid').setValue(false)"
              >Pendente</label
            >
          </div>

          <div class="text-danger" *ngIf="resourceForm.get('paid').invalid && resourceForm.get('paid').touched">
            <div *ngIf="resourceForm.get('paid').errors.required">Dado obrigatório</div>
          </div>
        </div>

        <!-- CATEGORY ID -->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>
          <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>

          <div class="text-danger" *ngIf="resourceForm.get('categoryId').invalid && resourceForm.get('categoryId').touched">
            <div *ngIf="resourceForm.get('categoryId').errors.required">Dado obrigatório</div>
          </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description" />
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
    </ul>
  </div>

  <button [disabled]="submitting || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>
